# Ignore everything by default
*

# Allow YAML and docs
!*.yaml
!*.yml
!*.md
!.gitignore

# Always ignore secrets and runtime files
secrets.yaml
*.log
*.db*
home-assistant_v2.*
.storage/
.cloud/
.google.token
.ios.conf
*.pyc
__pycache__/
esphome/
zigbee2mqtt/log/
.git-credentials
